.git
.github
.env
.env.*
**/.env
**/.env.*
!**/.env.example
node_modules
**/node_modules
.next
**/.next
dist
**/dist
coverage
**/coverage
.turbo
**/.turbo
backups
.deploy
*.log
.DS_Store
.idea
.vscode
